@charset "UTF-8";
/* CSS Document */

img, div, li, ul, span, .p7PMmark, .p7PMtrg, .p7PMon, .p7PMshow,
a:hover, a:active, a:focus, #nav { 
behavior: url(scripts/iepngfix.htc) 
}
#main {width: 820px;}
#nav {
	height:109px !important;
	background: url(images/menu_bg-ie6.png) repeat-x transparent !important;
	position:static !important;
}

#page-intro {
	padding: 30px 0px 40px 270px !important;
}
ul.large-button { margin-right:0px; !important}
.sidebar-bottom {
	margin-bottom: 0px !important;
}