/*
  This file contains the basic logic for nice menus, and should not be
  edited.  To customize the menus, it's recommended to create a custom CSS
  file using nice_menus_default.css as a template, then configure the module
  to use your custom CSS file (this is done in the global settings tab of
  the theme administration.)
*/

/* Below should fix menu being a few pixels away in some themes, and menus disappearing behind other stuff. */
.block-nice-menus {
  line-height: normal;
  z-index: 10;
}

ul.nice-menu,
ul.nice-menu ul {
  z-index: 5;
  position: relative;
  margin: 0;
	padding:0;
	float: right;
	width: 885px;
}

ul.nice-menu li {
  position: relative;
  list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}

ul.nice-menu a {
  display: block;
	width: 142px;
	height: 102px;
	text-align: center;
	text-decoration: none;
	color: #333333;
}

ul.nice-menu ul,
/* For Garland header. */
#header-region ul.nice-menu ul {
  position: absolute;
  visibility: hidden;
}

ul.nice-menu li.over ul {
  visibility: visible;
}

ul.nice-menu ul li {
  display: block;
}

ul.nice-menu:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.nice-menu a:hover, ul.nice-menu a:active, ul.nice-menu a:focus {
	background: url(../images/menu_on.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
}

ul.nice-menu li.active-trail a.top-level {
	background: url(../images/menu_on.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
}


/* Show submenus when over their parents. */
ul.nice-menu li:hover ul,
ul.nice-menu li.menuparent li:hover ul,
ul.nice-menu li.menuparent li.menuparent li:hover ul,
ul.nice-menu li.menuparent li.menuparent li.menuparent li:hover ul,
ul.nice-menu li.over ul,
ul.nice-menu li.menuparent li.over ul,
ul.nice-menu li.menuparent li.menuparent li.over ul,
ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul,
/* Repeat all this stuff just for Garland headers. */
#header-region ul.nice-menu li:hover ul,
#header-region ul.nice-menu li.menuparent li:hover ul,
#header-region ul.nice-menu li.menuparent li.menuparent li:hover ul,
#header-region ul.nice-menu li.over ul,
#header-region ul.nice-menu li.menuparent li.over ul,
#header-region ul.nice-menu li.menuparent li.menuparent li.over ul {
  visibility: visible;

}

ul.nice-menu li:hover > a.nolink {
	background: url(../images/menu_on.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
}

ul.nice-menu ul {
	background: url(../images/triangle.png) no-repeat #939598;
	background-position: top center;
	border: 1px solid #cecece;
	border-top: none;
	width: 142px;
	font-size: 14px;
	position: absolute;
	bottom: -67px;
	margin: 0;
	padding: 14px 0 0 0;
	z-index: 20000;
}

ul.nice-menu ul a {
	background: none;
	display: inline-block;
	height: auto;
	padding: 8px 0;
	text-align: center;
	float: left;
	text-decoration: none;
	background-color: #939598;
	color: #333;
}

ul.nice-menu ul a:hover, ul.nice-menu ul a:active, ul.nice-menu ul a:focus { 
	background: url(../images/red_button_bg.jpg) repeat-x bottom #CC0000;
}

ul.nice-menu ul li.active-trail a {
	background-image: none;
	color: #333;
}

ul.nice-menu ul li.active-trail a:hover, ul.nice-menu ul li a:active, ul.nice-menu li.active-trail a:focus {
	background: url(../images/red_button_bg.jpg) repeat-x bottom #CC0000;
	color: #FFFFFF;
}

/* Hide sub-menus initially. */
ul.nice-menu li:hover ul ul,
ul.nice-menu li:hover ul ul ul,
ul.nice-menu li:hover li:hover ul ul,
ul.nice-menu li:hover li:hover ul ul ul,
ul.nice-menu li:hover li:hover li:hover ul ul,
ul.nice-menu li:hover li:hover li:hover ul ul ul,
ul.nice-menu li.over ul ul,
ul.nice-menu li.over ul ul ul,
ul.nice-menu li.over li.over ul ul,
ul.nice-menu li.over li.over ul ul ul,
ul.nice-menu li.over li.over li.over ul ul,
ul.nice-menu li.over li.over li.over ul ul ul,
/* Repeat all this stuff just for Garland headers. */
#header-region ul.nice-menu li:hover ul ul,
#header-region ul.nice-menu li:hover ul ul ul,
#header-region ul.nice-menu li:hover li:hover ul ul,
#header-region ul.nice-menu li:hover li:hover ul ul ul,
#header-region ul.nice-menu li:hover li:hover li:hover ul ul,
#header-region ul.nice-menu li:hover li:hover li:hover ul ul ul,
#header-region ul.nice-menu li.over ul ul,
#header-region ul.nice-menu li.over ul ul ul,
#header-region ul.nice-menu li.over li.over ul ul,
#header-region ul.nice-menu li.over li.over ul ul ul,
#header-region ul.nice-menu li.over li.over li.over ul ul,
#header-region ul.nice-menu li.over li.over li.over ul ul ul {
  visibility: hidden;
}

/***************
 IE 6 Fixes
***************/

/* Iframe to fix z-index bug when menu hovers over <select> fields. */
ul.nice-menu li.menuparent ul,
/* For Garland header. */
#header-region ul.nice-menu li.menuparent ul {
  overflow: visible !important;
}

ul.nice-menu li.menuparent ul iframe,
/* For Garland header. */
#header-region ul.nice-menu li.menuparent ul iframe {
  display: none;
  display/**/: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: mask();
  width: 20px;
  height: 20px;
}
