/* 
  -----------------------------------
  PopMenu Magic Style Sheet
  by Project Seven Development
  www.projectseven.com
  Menu Type: Horizontal
  Style Theme:0 -Basic Style
  -----------------------------------
*/
#p7PMnav {
	margin: 0;
	padding:0;
	float: right;
	width: 885px;
}
#p7PMnav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}
#p7PMnav li a {
	display: block;
	width: 142px;
	height: 55px;
	text-align: center;
	text-decoration: none;
	color: #333333;
}
#p7PMnav a:hover, #p7PMnav a:active, #p7PMnav a:focus {
	background: url(../images/menu_on.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
}
#p7PMnav ul {
	margin: 0;
	padding: 14px 0 0 0;
	position: absolute;
	left: -9000px;
	z-index: 10000;
	background: url(../images/triangle.png) no-repeat #939598;
	background-position: top center;
	border: 1px solid #cecece;
	border-top: none;
	width: 142px;
	font-size: 14px;
}
#p7PMnav ul a {
	display: inline-block;
	height: auto;
	padding: 8px 0;
	text-align: center;
	float: left;
	text-decoration: none;
	background-color: #939598;
	color: #333;
}

#p7PMnav ul a:hover, #p7PMnav ul a:active, #p7PMnav ul a:focus { 
	background: url(../images/red_button_bg.jpg) repeat-x bottom #CC0000;
}

/* ------ the current page marker style ------ */

#p7PMnav .p7PMmark .active {
	background: url(../images/menu_on.png);
	color: #FFFFFF;
}
#p7PMnav ul .p7PMmark {
	background: url(../images/red_button_bg.jpg) repeat-x bottom #CC0000;
}

/*the submenu classes */

#p7PMnav .p7PMhide {
	left: -9000px;
}
#p7PMnav .p7PMshow {
	left: auto;
	z-index: 20000 !important;
}

#p7PMnav ul li {
	float: none;
}

#p7PMnav a.active {
	background: url(../images/menu_on.png);
	color: #FFFFFF;
}


/*the trigger link */
#p7PMnav ul .p7PMtrg, #p7PMnav ul .p7PMon {
	background-image:  url(img/p7PM_dark_east.gif);
	background-repeat:	no-repeat;
	background-position: right center;
}
/* the active trigger link style */
#p7PMnav .p7PMon {
	background: url(../images/menu_on.png);
	color: #FFFFFF;
	margin-bottom: -12px;
}