@charset "UTF-8";

body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #333;
	background-color: #333;
	font-size: 13px;
}

a:link, a:visited { color: #3399FF; text-decoration:none;}
a:hover, a:active { color: #CC0000;}

p {
	line-height: 140%;
	margin: 10px 0;
}

h2 {
	font-family: Georgia, serif;
	font-size: 38px;
	font-weight: normal;
	margin: 15px 0;
	color: #000;
}

h3 {
	margin: 25px 0 0 0;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: #006699;
	font-size: 18px;
}

h4 {
	font-family: Georgia, serif;
	margin: 25px 0 0 0;
	font-size: 20px;
	font-weight: normal;
	color: #888;
}

#container {
	width: 1150px;
	margin: 0 auto;
	-moz-box-shadow: rgba(1,1,1,.5) 0 2px 8px;
	-webkit-box-shadow: rgba(1,1,1,.5) 0 2px 8px;
	-khtml-box-shadow: rgba(1,1,1,.5) 0 2px 8px;
	box-shadow: rgba(1,1,1,.5) 0 2px 8px;
	background: #fff;
	padding: 0;
}

#header {
	background: #000;
	height: 58px;
}

#header h1 {
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .25em;
	text-align: right;
	margin-right: 50px;
	padding-top: 15px;
}

#logo {
	width: 270px;
	height: 302px;
	background: url(../images/ribbon_logo.png) no-repeat center;
	position: absolute;
	top: 0;
z-index: 20000;
}

#nav {
	background: url(../images/menu_bg.png) repeat-x transparent;
	height: 90px;
	font-size: 17px;
	line-height: 100%;
	position: absolute;
	width: 1150px;
}

#nav a {
	display: block;
	text-transform: none;
}


.small {
	font-size: 12px;
	display: block;
	text-transform: none;
}
.menupad { padding-top: 25px;}


#page-intro {
	background: url(../images/chalkboard_bg.jpg) no-repeat center;
	padding: 130px 0px 40px 270px;
	min-height: 90px;
}

.framed {
	padding: 12px;
	background-color: #888;
	border: 1px solid #fff;
	-moz-box-shadow: rgba(1,1,1,1) 0 4px 18px;
	-webkit-box-shadow: rgba(1,1,1,1) 0 4px 18px;
	-khtml-box-shadow: rgba(1,1,1,1) 0 4px 18px;
	box-shadow: rgba(1,1,1,1) 0 4px 18px;
}
#page-intro .framed {margin-left: 47px;}

#main {
	background: url(../images/main_top_bg.png) repeat-x transparent;
	padding: 20px 60px 0px 270px;
	min-height: 200px;
}

ul.large-button { margin-right:-40px;}
.large-button li  {
	-moz-box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	-webkit-box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	-khtml-box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	margin: 16px;
	width: 250px;
	float: left;
	line-height: 140%;
	border: 1px solid #999;
}

.large-button li img {
	padding: 14px;
	background-color: #fff;
}

.large-button h2 {
	background: url(../images/red_button_bg.jpg) repeat-x #fff;
	font-weight: normal;
	font-size: 18px;
	padding: 7px 14px;
	margin: 0;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: normal;
}

.large-button h2:hover {
	background: url(../images/black_button_bg.jpg) repeat-x #fff;
}

.large-button a { color: #fff; }

hr.clear {
	clear: both;
	border: none;
	background-color:transparent;
	color: #fff;
}

#footer {
	background: url(../images/footer_bg.gif) repeat-x #939598;
	padding: 40px 30px 50px;
	font-size: 11px;
	color: #fff;
	margin: 0;
	height: 30px;
}

#footer li {
	float: left;
	width: 50%;
}

#container #main .button {
	text-decoration: none;
	height: 19px;
	width: 235px;
	display: block;
	background: url(../images/button.png) no-repeat;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000;
	margin: 20px 0;
}

#sidebar {
	width: 260px;
	float: right;
	margin: 20px;
	background: url(../images/sidebar_bg.png) repeat-y;
}

#sidebar h3 {
	background: url(../images/sidebar_hdr.png) no-repeat #fff;
	margin: 0;
	padding: 25px;
	color: #fff;
	text-transform: none;
	font-weight: normal;
}
#sidebar p {
	margin: 5px 25px 10px;
}
#sidebar ul {
	margin: 5px 25px 10px 45px;
}
#sidebar li {
margin: 6px 0;
}
#sidebar ol {
	margin: 5px 25px 10px 45px;
	list-style:outside;
	list-style-type:decimal;
}
.sidebar-bottom {
	background: url(../images/sidebar_bottom_bg.png) no-repeat;
	width: 260px;
	height: 19px;
	display: block;
	margin-bottom: -15px;
}

#nobackground {
background-color: #fff;
width: 100%;
height: 100%;
margin:0;
padding: 10px;}

#nobackground ul {
margin: 20px 0;
}

#nobackground li {
margin: 10px 0;
}

.author {
	font-size: 11px;
	margin-bottom: 20px;
}
.footnote {
	padding-top: 10px;
	font-size: 10px;
	line-height: 100%;
}

.img-left {
	float: left;
	margin: 0 20px 20px 0;
	padding: 10px;
	-moz-box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	-webkit-box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	-khtml-box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	border: 1px solid #999;
}
.img-right {
	float: right;
	margin: 0 0 20px 20px;
	padding: 10px;
	-moz-box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	-webkit-box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	-khtml-box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	box-shadow: rgba(1,1,1,.5) 0 2px 4px;
	border: 1px solid #999;
}

#bod p {
margin: 6px 0;
}

form {margin: 20px 0;}

form ul {width: 50%;float: right;clear:left;margin: 12px 0 30px 0;}
form li {padding: 8px 0;}
form p { clear: left;}
label { 
	width: 110px;
	display: block;
	float: left;
	padding: 6px 0;
}

input[type=text] { 
	padding: 2px;
	font-family: Georgia, serif;
	font-size: 16px;
	color: #444;
	width: 250px;
}
textarea {
	padding: 2px;
	font-family: Georgia, serif;
	font-size: 16px;
	color: #444;
}

input:focus, textarea:focus {
background-color:#f2f2f2;
}
#submit {
color: #fff;
font-size:14px;
width:190px; height:42px; background:url('../images/submit.png') top no-repeat; overflow:hidden; border:0; cursor:pointer; }
#submit:hover, #submit:focus { background-position:bottom;}

div#nominee {
text-align:center;
background-color:#DFF0FE;
border: 1px solid #ccc;
padding: 10px;
width: 95%;
}

#nominee label {
width:auto; 
float:none; 
display: inline;
margin-right: 5px;}

form ol {
	list-style:inside;
	list-style-type:decimal;
}

form ol textarea {margin-top: 5px;margin-bottom: 10px;}

.pdf {
height: 20px;
display: block;
padding-left: 25px;
padding-bottom: 15px;
background: url(../images/pdficon_small.gif) no-repeat;
}

ul.goal-list li {
margin: 10px 20px;
line-height: 140%;
}

ul.bullets li {
margin: 10px 40px;
line-height: 140%;
list-style:square;
}

.form-item {
	margin-top: 0;
	margin-bottom: 0;
}

.form-item .description {
	font-size: inherit;
	padding: 12px 0 5px;
}

#description {
	width: 50%;
}

#description label {
	display: none;
}

#edit-field-question-1 label, #edit-field-question-2 label, #edit-field-question-3 label {
	display: none;
}


.footer-left {
	float: left;
	width: 50%;
}
.footer-right {
	float: left;
	width: 50%;
	text-align: right;
}